<%= form_with(model: @user, :url =>admin_users_path(@user), local: true) do |form| %>
  <div class="field">
    <%= form.text_field :firstname, placeholder:"First Name", class:"form-control" %>
  </div>
  <div class="field">
    <%= form.text_field :lastname, placeholder:"Last Name", class:"form-control" %>
  </div>
  <div class="field">
    <%= form.email_field :email, placeholder:"Email", class:"form-control" %>
  </div>
  <div class="field">
    <%= form.password_field :password, placeholder:"New Password", class:"form-control" %>
  </div>
  <div class="field">
    <%= form.password_field :password_confirmation, placeholder:"Confirm Password", class:"form-control" %>
  </div>
  <div class="field">
    <%= form.check_box :admin %> Admin
  </div>

  <div class="actions text-center mt-4">
    <%= form.submit "Save", class:"btn btn-success" %>
  </div>
<% end %>
