
<div class="mx-5">
  <div class="row">
    <div class="col-2">
      <button class="btn btn-outline-success mt-5">
        <%= link_to 'Create user', new_admin_user_path %>
      </button>
    </div>
    <div class="col-8">
      <h1 class="text-center my-4">Users List</h1>
    </div>
  </div>

  <table class="table bg-light shadow-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Firstname</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Tasks</th>
        <th scope="col">Admin</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user, task| %>
      <tr>
        <th scope="row">
          <%= user.id %>
        </th>
        <td>
          <%= user.firstname %>
        </td>
        <td>
          <%= user.lastname %>
        </td>
        <td>
          <%= user.email %>
        </td>

        <td>
          <%= user.tasks.size%> Tasks
        </td>
        <td>
          <%= user.admin %>
        </td>
        <td class="w-25">
          <button class="btn btn-outline-info">
            <%= link_to 'Show', admin_user_path(user) %>
          </button>
          <button class="btn btn-outline-primary">
            <%= link_to 'Edit', edit_admin_user_path(user) %>
          </button>

          <button class="btn btn-outline-danger">
            <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
          </button>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<nav class="navbar navbar-expand-lg fixed-bottom navbar-light" style="background-color: #fff;color:black">
  <a class="navbar-brand" href="#" style="margin:auto">Copyright © 2020 TMS. ALL RIGHTS RESERVED. </a>
  </nav>
